<%= render 'form', listing: @listing%>

<%# Delete listing link with confirmation%>
<%= link_to "Delete Listing", coach_listing_path, method: "delete", data: {confirm: "Are you sure?"}%>


<section >
<%= link_to 'Home', root_path %>
<p> | </p>
<%= link_to 'Cancel Edit', @listing %>
</section>
