<h1>All listings</h1>

<%# show all listings individually and add view link%>
<% @listings.each do |listing| %>
  <%=listing.title%>
  <%=listing.description%>
    <% if listing.picture.attached?%>
    <%= image_tag listing.picture, width: 250, class: "img_btn"%>
  <% end %>

    <%= link_to 'View', coach_listing_path(listing.coach_id, listing) %>
  <br><br>

<% end %>
